:root{
    --trueBlue: #02204C;
    --electricBlue: #1485E2;
    --links: #0C5997;
    --clickedLinks: #0A4B80;
    --darkGrey: #474747;
    --grey: #cecece;
    --lightGrey: #f8f8f8;
}
#profile-img{
    height: 15rem;
    width: 15rem;
}
#profile-img img{
    border-radius: 500px;
}
#main-content section{
    padding: 1rem;
    text-align: left;
}
#main-content h1{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
}
#main-content h2{
    margin-bottom: 1rem;
    font-size: 2rem;
    line-height: 2.5rem;
    text-align: center;
}
#main-content p{
    margin-bottom: 1rem;
}
#main-content p:nth-last-of-type(2){
    margin-top: 1rem;
}
#wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    min-height: 700px;
}
/*----*/
#email-cta{
    color: var(--electricBlue);
    padding: 0.5rem 1rem;
    margin: 1.5rem 1rem 0 0rem;
    border-radius: 0.5rem;
    border: 1px solid var(--electricBlue);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    max-width: max-content;
    stroke: var(--electricBlue);
}
#email-cta:hover, #email-cta:focus{
    border: 1px solid var(--clickedLinks);
    text-decoration: underline;
    font-weight: 400;
    color: var(--clickedLinks);
    stroke: var(--clickedLinks);
}
.email-icon{
    padding-right: 10px;
}
/*-------------------------------------------------*/

/* Media Queries */
@media screen and (min-width: 450px){
    #profile-img{
        height: 20rem;
        width: 20rem;
    }  
}
@media screen and (min-width: 600px){
    #main-content section{
        padding: 2rem;
    }
    #profile-img{
        height: 25rem;
        width: 25rem;
    }
    #profile-img img{
        border-radius: 500px;
    }
}
/*-------------------------------------------------*/
@media screen and (min-width: 800px){
    #wrapper{
        margin: 2rem auto;
        max-width: 42rem;
    }
    
}
/*-------------------------------------------------*/
@media screen and (min-width: 1200px){
    #wrapper{
        max-width: 1400px;
        display: flex;
        flex-direction: row;
        justify-items: center;
        margin: 0 auto;
        gap: 1rem;
        padding: 0 2rem;
    }
    #profile-img{
        border-radius: 500px;
        height: auto;
        width: auto;
    }
    #profile-img img{
        height: 500px;
        width: 500px;
    }
    #main-content h2{
        text-align: left;
    }
}