#main-content section{
    padding: 1rem;
}
#main-content h1{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    text-align: center;
}
#main-content h2{
    margin-bottom: 1rem;
}
#main-content p{
    margin-bottom: 1rem;
}
/*----*/
#email-cta{
    color: white;
    background-color: var(--electricBlue);
    padding: 0.5rem 0rem;
    margin: 2rem auto 1rem auto;
    border-radius: 0.5rem;
    border: 1px solid var(--links);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    width: 100%;
    max-width: 400px;
}
#email-cta:hover, #email-cta:focus{
    background-color: var(--links);
    font-weight: 400;
}
.email-icon{
    padding-right: 10px;
}
/*-------------------------------------------------*/

/* Media Queries */
@media screen and (min-width: 600px){
    #main-content section{
        padding: 2rem;
    }
    #profile-img{
        max-height: 500px;
        overflow: hidden;
    }
    #profile-img img{
        object-fit: cover;
        object-position: 0 -6rem;
    }
}
/*-------------------------------------------------*/
@media screen and (min-width: 800px){
    #wrapper{
        margin: 0 auto;
        max-width: 65ch;
    }
    #main-content section{
        padding: 2rem 0 1rem 0;
    }
}
/*-------------------------------------------------*/