/* Global Styles For Page */
:root{
    --trueBlue: #02204C;
    --electricBlue: #1485E2;
    --links: #0C5997;
    --grey: #cecece;
}
section h2, section h3, section p{
    margin: 0 1rem;
}
/* End Global Styles For Page */
/*-------------------------------------------------*/

/* Welcome Section */
#intro{
    background-color: white;
    background-image: url(../Assets/Pattern.svg);
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--grey);
}
#intro img{
    max-height: 300px;
}
#intro h2{
    font-size: 2rem;
    line-height: 2.25rem;
    padding: 2rem 0 1rem 0;
}
#intro h2, #intro p{
    max-width: 36.5rem;
}
/*----*/
.email-icon{
    padding-right: 10px;
}
/*----*/
#email-cta{
    color: white;
    background-color: var(--electricBlue);
    padding: 0.5rem 1rem;
    margin: 1.5rem 1rem 0 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--links);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    max-width: max-content;
}
#email-cta:hover, #email-cta:focus{
    background-color: var(--links);
    font-weight: 400;
}
/* End Welcome Section */
/*-------------------------------------------------*/

/* Portfolio Section */
#portfolio{
    margin-top: 1.5rem;
}
#folio-grid{
    display: grid;
    grid-template-rows: auto;
}
#portfolio-divider{
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}
#portfolio-divider h2{
    font-size: 1.25rem;
}
#portfolio a{
    text-decoration: none;
}
#portfolio a:hover, #portfolio a:focus{
    font-weight: 400;
}
#portfolio h3{
    margin-top: 1rem;
    color: var(--electricBlue);
}
#portfolio p{
    margin-bottom: 1.5rem;
    color: var(--trueBlue);
}
.folio-card{
    background-color: white;
    border-bottom: 1px solid var(--grey);
    border-top: 1px solid var(--grey);
    margin-bottom: 2rem;
}
/*----*/
.dec-divider{
    width: 100%;
    height: 2px;
    background-color: var(--trueBlue);
    flex-grow: 2;
}
/* End Portfolio Section */
/*-------------------------------------------------*/

/* Medium Size Screen Style Adjustments */
@media screen and (min-width: 600px) {
    #intro img{
        max-height: 500px;
    }
    #intro, #intro-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    /*----*/
    #portfolio{
        margin: 2rem 2rem 0;
    }
    #portfolio h2{
        margin-left: 0;
    }
    .folio-card{
        border: 1px solid var(--grey);
    }
    .folio-card:hover, .folio-card:focus{
        border: 1px solid var(--electricBlue);
        box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.10);
        -webkit-box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.10);
        -moz-box-shadow: 2px 2px 10px -3px rgba(0,0,0,0.10);
    }
}
/*-------------------------------------------------*/

/* Large Size Screen Style Adjustments */
@media screen and (min-width: 900px) {
    #intro img{
        width: 300px;
        height: 300px;
        border-radius: 200px;
        margin-right: 2rem;
    }
    #intro{
        flex-direction: row;
        padding: 2rem;
        justify-content: center;
        height: 400px;
    }
    #intro-info{
        text-align: left;
        align-items: flex-start;
    }
    /*----*/
    #folio-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .folio-card{
        margin-bottom: 0rem;
    }
    .folio-card img{
        height: 15rem;
        width: 100%;
    }
    #portfolio{
        margin-bottom: 2rem;
    }
}
/*-------------------------------------------------*/
@media screen and (min-width: 1200px){
    #folio-grid{
        grid-template-columns: repeat(3, 1fr);
    }
}
/* Extra Large Size Screen Style Adjustments */
@media screen and (min-width: 1700px){
    #intro{
        padding: 2rem 0;
    }
    /*----*/
    #portfolio{
        margin: 2rem 0;
    }
}
/*-------------------------------------------------*/