/* Global Styles For Page */
:root{
    --trueBlue: #02204C;
    --electricBlue: #1485E2;
    --links: #1171C0;
    --clickedLinks: #0A4B80;
    --darkGrey: #474747;
    --grey: #cecece;
    --lightGrey: #f8f8f8;
}
html, body{
    background-color: white;
}
h1, h2, h3, h4{
    margin: 1rem 0 0.35rem 0;
}
h2{
    font-size: 1.25rem;
}
h4{
    font-size: 1rem;
    color: var(--darkGrey);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
ol a{
    text-decoration: none;
}
ol a:hover, ol a:focus{
    text-decoration: underline;
}
p{
    max-width: 65ch;
}
/* End Global Styles For Page */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
section{
    max-width: 60rem;
    margin: 0 auto;
}
#back{
    display: flex;
    align-items: center;
    padding: 1rem;
    width: max-content;
}
/* project overview text */
.text{
    margin: 1rem 1rem 0 1rem;
}
#project-overview ol{
    list-style: decimal;
    margin: 0 1rem;
    padding-left: 0.5rem;
}
#project-overview li{
    padding: 5px;
}
#project-overview p{
    margin-bottom: 1rem;
}
.project-link{
    display: block;
    padding: 0.25rem 0;
}
/* design solution text */
.explanation{
    background-color: var(--lightGrey);
    padding: 2rem 1rem;
    margin-bottom: 1rem;
}
.explanation p:nth-child(3){
    margin-top: 0.5rem;
}
.explanation h4{
    margin: 0 0 0.35rem 0;
    font-weight: 700;
    color: var(--trueBlue);
    font-size: 1.25rem;
    text-transform: capitalize;
    letter-spacing: normal;
}
.caption{
    margin-bottom: 1rem;
}
/* container for project text, "01. Navigation" and design solution text */
.wrapper{
    padding: 0 1rem;
}

/* add divider in between sections */
.section-break{
    border-bottom: 1.5px solid var(--grey);
    padding-bottom: 2rem;
}
/* blue side bar on headers */
.special{
    border-left: 3px solid var(--electricBlue);
    padding-left: 10px;
    position: relative;
    left: -1rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 2rem 1rem 1rem 1rem;
}
.under-special{
    position: relative;
    top: -1rem;
}
h3+p{
    margin: 0 1rem;
    padding-top: 5px;
}
#extra-files{
    margin-top: 2rem;
}
#reflection{
    margin: 2rem 0 0 0;
    background-color: var(--lightGrey);
    padding: 2rem;
}
#reflection h2{
    margin-bottom: 1rem;
    margin-top: 0;
}
#reflection p{
    margin-bottom: 0.75rem;
    padding-left: 13px;
}
.open-file{
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
}
.open-file svg{
    padding-right: 10px;
}
#top-page{
    margin-top: 2rem;
}
/*-------------------------------------------------*/

/* Media Queries */
@media screen and (min-width: 600px){
    .text{
        margin: 2rem 2rem 0 2rem;
    }
    .explanation{
        padding: 2rem;
    }
    .wrapper{
        padding: 0 2rem;
    }
    #back{
        padding-left: 2rem;
    }
}
/*-------------------------------------------------*/
@media screen and (min-width: 800px){
    .text{
        margin: 2rem auto 0 auto;
        max-width: 65ch;
    }
    .wrapper{
        margin: 0 auto;
        max-width: 65ch;
    }
    .image-grid, .image-grid-2{
        margin: 0 auto;
    }
}
/*-------------------------------------------------*/
@media screen and (min-width: 1250px){
    #hero-image{
        height: 750px;
    }
    .image-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }
    .image-grid-c{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        align-items: center;
    }
    .image-grid-3{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }
    .wrapper{
        max-width: 60rem;
    }
    .text{
        display: flex;
        max-width: 60rem;
        gap: 2rem;
        align-items: center;
    }
    .left{
        flex-grow: 2;
    }
    .left h1, .left p{
        max-width: 50ch;
    }
    .right{
        background-color: var(--lightGrey);
        padding: 2rem;
    }
}
/*-------------------------------------------------*/
@media screen and (min-width: 1700px){
    #back{
        padding-left: 0;
    }
    .image-grid{
        margin: 0;
    }
}
/*-------------------------------------------------*/