/* Global Styles For Page */
:root{
    --trueBlue: #02204C;
    --electricBlue: #1485E2;
    --links: #0C5997;
    --darkGrey: #474747;
    --grey: #cecece;
    --lightGrey: #f8f8f8;
}
html, body{
    background-color: white;
}
h1, h2, h3, h4{
    margin: 1rem 0 0.35rem 0;
}
h2{
    font-size: 1.25rem;
}
h4{
    font-size: 1rem;
    color: var(--darkGrey);
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
}
ol a{
    text-decoration: none;
}
ol a:hover, ol a:focus{
    text-decoration: underline;
}
p{
    max-width: 65ch;
}
/* End Global Styles For Page */
/*-------------------------------------------------*/

/*-------------------------------------------------*/
#back{
    display: flex;
    align-items: center;
    padding: 1rem;
    width: max-content;
}
/* project overview text */
.text{
    margin: 1rem;
}
#project-overview ol{
    list-style: decimal;
    margin: 0 1rem;
    padding-left: 0.5rem;
}
#project-overview li{
    padding: 5px;
}
#project-overview p{
    margin-bottom: 1rem;
}
.project-link{
    display: block;
    padding: 0.25rem 0;
}
/* design solution text */
.explanation{
    background-color: var(--lightGrey);
    padding: 2rem 1rem;
    margin: 1rem 0;
    max-width: max-content;
}
.explanation h4{
    margin: 0 0 0.35rem 0;
    font-weight: 700;
    color: var(--trueBlue);
    font-size: 1.25rem;
    text-transform: capitalize;
    letter-spacing: normal;
}
/* set left and right margin on case study, after project overview */
#wrapper{
    margin: 0 1rem;
}

/* add divider in between sections */
.section-break{
    border-bottom: 1.5px solid var(--grey);
}
.section-break h3{
    margin-top: 2rem;
}
/* blue side bar on headers */
.special{
    border-left: 3px solid var(--electricBlue);
    padding-left: 10px;
    position: relative;
    left: -1rem;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 1rem;
}
h3+p{
    margin: 0 1rem;
    padding-top: 5px;
}
#reflection{
    margin: 2rem 0;
}
#reflection h2{
    margin-bottom: 1rem;
}
#reflection p{
    margin-bottom: 0.75rem;
    padding-left: 13px;
}

.download{
    display: flex;
    align-items: center;
}
.download svg{
    padding-right: 10px;
}

/*-------------------------------------------------*/

/* Media Query */
@media (min-width: 600px){
    .text{
        margin: 2rem;
    }
    .explanation{
        padding: 2rem;
    }
    #wrapper{
        margin: 0 2rem;
    }
}
/*-------------------------------------------------*/
@media (min-width: 800px){
    .text{
        margin: 2rem auto;
        max-width: 65ch;
    }
    #wrapper{
        margin: 0 auto;
        max-width: 65ch;
    }
}
/*-------------------------------------------------*/
