/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */
/*-------------------------------------------------*/

/* Global Styles */
:root{
    --trueBlue: #02204C;
    --electricBlue: #1485E2;
    --links: #1171C0;
    --clickedLinks: #0A4B80;
    --darkGrey: #474747;
    --grey: #cecece;
    --lightGrey: #f8f8f8;
}
html{
    color: var(--trueBlue);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 17px;
    max-width: 1600px;
    margin: 0 auto;
}
a{
    color: var(--links);
}
a:hover, a:focus{
    color: var(--clickedLinks);
    text-decoration: underline;
}
h1{
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 700;
}
h2{
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
}
h3{
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
}
h4{
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
}
p, q{
    line-height: 1.25rem;
}
em{
    font-style: italic;
}
img{
    width: 100%;
    object-fit: cover;
}
.text-hidden{
    /* Credit: University of Nebraska https://wdn.unl.edu/page-title-h1-best-practices */
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px,1px,1px,1px);
}
.hide{
    display: none;
}
.active{
    font-weight: 700;
    color: var(--clickedLinks);
}
/* End Global Styles */
/*-------------------------------------------------*/

/* Global Header and Nav */
#main-header{
    background-color: white;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    border-bottom: 1px solid var(--grey);
    /* box-shadow: 2px 10px 34px 3px rgba(0,0,0,0.05);
    -webkit-box-shadow: 2px 10px 34px 3px rgba(0,0,0,0.05);
    -moz-box-shadow: 2px 10px 34px 3px rgba(0,0,0,0.05); */
}
/*----*/
#logo{
    padding: 1rem;
}
#logo a{
    text-decoration: none;
    color: var(--trueBlue);
}
/*----*/
#skip-link{
    position: absolute;
    left: -5000px;
}
#skip-link:focus{
    left: 0;
    top: 0;
    background-color: white;
    padding: 10px;
}
/*----*/
/* Menu */
.hamburger-exit{
    position: absolute;
    top: 23px;
    right: 1rem;
}
nav{
    grid-column: 1/-1;
}
nav ul a{
    text-decoration: none;
}
#main-nav{
    display: none;
}
.mobile-nav-styles{
    background-color: white;
}
.mobile-nav-styles li{
    padding-left: 1rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
}
#mobile-nav li:nth-of-type(1){
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
}
#mobile-nav li:nth-of-type(2){
    border-bottom: 1px solid var(--grey);
}
.mobile-nav-styles a{
    padding: 20px 20px 20px 0;
}
/*----*/
.nav-email{
    background-color: var(--electricBlue);
}
.nav-email a{
    color: white;
    display: flex;
    align-items: center;
}
.nav-email-icon{
    padding-right: 10px;
}
#mobile-email{
    text-decoration: none;
}
/*----*/
#hamburger-icon, #exit-icon{
    cursor: pointer;
}
/* End Global Header and Nav */
/*-------------------------------------------------*/

/* Footer Styles */
#top-page{
    margin: 0 auto;
    text-align: center;
}
#top-page a{
    padding: 1rem;
}
/*----*/
footer{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    align-items: center;
    border-top: 1px solid var(--grey);
    margin-top: 2rem;
    padding: 1rem 1rem 2rem 1rem;
    background-image: url(../Assets/Pattern.svg);
    background-color: white;
}
/*----*/
#social-links{
    display: flex;
    max-width: 200px;
}
#social-links svg{
    background-color: var(--electricBlue);
    border-radius: 100px;
    padding: 10px;
}
#social-links a{
    display: flex;
    align-items: center;
    padding-right: 0.75rem;
}
#social-links svg:hover{
    background-color: var(--clickedLinks);
}
#resume{
    display: flex;
    align-items: center;
    justify-content: end;
}
/*----*/
footer small{
    margin-top: 0.5rem;
    grid-column: 1/-1;
}
/* End Footer Styles */
/*-------------------------------------------------*/

/* Media Queries */
@media screen and (min-width: 600px){
    html{
        font-size: 18px;
    }
    /* Header and Nav */
    #logo{
        padding: 1rem 2rem;
    }
    nav{
        grid-column: 2;
        display: flex;
        justify-content: end;
        padding-right: 2rem;
    }
    #hamburger-icon, #exit-icon{
        display: none;
    }
    #main-nav{
        display: flex;
        align-items: center;
    }
    #mobile-nav{
        display: none;
    }
    #email-address{
        display: none;
    }
    .nav-email-icon{
        padding: 10px;
    }
    .nav-email{
        border-radius: 100px;
    }
    .nav-email:hover, .nav-email:focus{
        background-color: var(--links);
    }
    nav li:nth-child(1), nav li:nth-child(2), nav li:nth-child(3){
        padding-right: 20px;
    }
    /* Footer */
    footer{
        padding: 1rem 2rem 2rem 2rem;
    }
}
/*-------------------------------------------------*/
@media screen and (min-width:1250px) {
    html{
        font-size: 18px;
    }
}
/*-------------------------------------------------*/
@media screen and (min-width: 1700px){
    html{
        font-size: 20px;
    }
    #logo{
        padding: 1rem 0;
    }
    nav{
        padding: 1rem 0;
    }
    footer{
        border-left: 1px solid var(--grey);
        border-right: 1px solid var(--grey);
    }
}
/*-------------------------------------------------*/