/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End Reset */
/*-------------------------------------------------*/

/* Global Styles */
:root{
    --trueBlue: #02204C;
    --electricBlue: #1485E2;
    --links: #0C5997;
    --grey: #cecece;
    --background: #f8f8f8;
}
html{
    color: var(--trueBlue);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 16px;
    max-width: 1600px;
    margin: 0 auto;
}
a{
    color: var(--links);
}
a:hover, a:focus{
    color: var(--electricBlue);
}
h1{
    font-size: 2rem;
    line-height: 2.25rem;
    font-weight: 700;
}
h2{
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 700;
}
h3{
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
}
h4{
    font-size: 1.25rem;
    line-height: 1.5rem;
    font-weight: 700;
}
p{
    line-height: 1.25rem;
}
img{
    width: 100%;
    object-fit: cover;
}
.text-hidden{
    /* Credit: University of Nebraska https://wdn.unl.edu/page-title-h1-best-practices */
    font-size: 0;
    width: 1px;
    height: 1px;
    display: inline-block;
    overflow: hidden;
    position: absolute!important;
    border: 0!important;
    padding: 0!important;
    margin: 0!important;
    clip: rect(1px,1px,1px,1px);
}
.hide{
    display: none;
}
.active{
    font-weight: 700;
    color: var(--electricBlue);
}
/* End Global Styles */
/*-------------------------------------------------*/

/* Global Header and Nav */
#main-header{
    background-color: white;
    display: flex;
    padding: 1rem;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid var(--grey);
}
/*----*/
#logo{
    flex-grow: 2;
    margin-right: 2rem;
}
#logo img{
    width: 7.35rem;
}
/*----*/
#skip-link{
    position: absolute;
    left: -5000px;
}
#skip-link:focus{
    left: 0;
    top: 0;
    background-color: white;
    padding: 10px;
}
/*----*/
#main-nav{
    display: none;
}
.mobile-nav-styles{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: white;
    top: 5.2rem;
    left: 0;
    box-shadow: -2px 85px 67px -9px rgba(0,0,0,0.13);
    -webkit-box-shadow: -2px 85px 67px -9px rgba(0,0,0,0.13);
    -moz-box-shadow: -2px 85px 67px -9px rgba(0,0,0,0.13);
}
.mobile-nav-styles li{
    padding-left: 1rem;
    font-size: 1.25rem;
    border-bottom: 1px solid var(--grey);
    display: flex;
    align-items: center;
}
.mobile-nav-styles a{
    padding: 20px 20px 20px 0;
}
/*----*/
.nav-email{
    background-color: var(--electricBlue);
}
.nav-email a{
    color: white;
    display: flex;
    align-items: center;
}
.nav-email-icon{
    padding-right: 10px;
}
#mobile-email{
    text-decoration: none;
}
/*----*/
#hamburger-icon, #exit-icon{
    cursor: pointer;
}
/* End Global Header and Nav */
/*-------------------------------------------------*/

/* Footer Styles */
#top-page{
    margin: 0 auto;
    text-align: center;
}
#top-page a{
    padding: 1rem;
}
/*----*/
footer{
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--grey);
    margin-top: 2rem;
    padding: 1rem;
    background-image: url(../Assets/Pattern.svg);
    background-color: white;
}
footer svg{
    padding-right: 10px;
}
/*----*/
#social-links{
    max-width: 300px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    margin-bottom: 1rem;
}
#social-links a{
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem 0;
}
/*----*/
#footer-nav{
    display: flex;
    flex-direction: row;
    margin: 1rem 0;
}
#footer-nav a{
    padding: 1rem;
}
#footer-nav a:first-child{
    padding-left: 0;
}
/* End Footer Styles */
/*-------------------------------------------------*/

/* Medium Size Screen Style Adjustments */
@media (min-width: 600px){
    html{
        font-size: 17px;
    }
    /* Header and Nav */
    #main-header{
        padding: 1rem 2rem;
    }
    #hamburger-icon, #exit-icon{
        display: none;
    }
    #main-nav{
        display: flex;
        align-items: center;
    }
    #mobile-nav{
        display: none;
    }
    #email-address{
        display: none;
    }
    .nav-email-icon{
        padding: 10px;
    }
    .nav-email{
        border-radius: 100px;
    }
    .nav-email:hover, .nav-email:focus{
        background-color: var(--links);
    }
    nav li:nth-child(1), nav li:nth-child(2), nav li:nth-child(3){
        padding-right: 20px;
    }
    /* Footer */
    footer{
        padding: 1rem 2rem;
    }
    #social-links{
        grid-template-columns: 25% 25% 25% 25%;
        max-width: 600px;
        margin-bottom: 0;
    }
}
/*-------------------------------------------------*/

/* Large Size Screen Style Adjustments */
@media (min-width:1250px) {
    html{
        font-size: 18px;
    }
    footer{
        border-left: 1px solid var(--grey);
        border-right: 1px solid var(--grey);
    }
    #footer-nav{
        margin-top: 0;
    }
    #small-nav{
        display: flex;
        align-items: center;
    }
    small{
        flex-grow: 2;
    }
}

@media (min-width: 1700px){
    html{
        font-size: 20px;
    }
}
/*-------------------------------------------------*/